*{
    /* background-color: #DBCDC6; */
    /* background-color: antiquewhite; */
    /* background-color: #dffdd9; */
    background-color: #e5fdd1;
    color: #58007e;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
    /* font-family: 'Averia Gruesa Libre'; */
}

@font-face{
  font-family: myFont;
  src: url(Averia_Gruesa_Libre/AveriaGruesaLibre-Regular.ttf);
}

#box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    margin: 2%;
}

#top{
    flex-direction: row;
    justify-content: center;
    margin: auto;
    width: 80vw;
    padding: 2%;
    /* background-color: rgb(108, 145, 177); */
    /* border: 5px solid #E3D26F; */
}

#bottom{
    /* background-color: antiquewhite; */
    height: 70vh;
    padding: 3%;
    /* border: 5px solid #A0AF84; */
    /* background-color: #ACB1D6; */
    /* background-color: #E5BEEC; */
    /* background-color: #c9edb4; */
}

header{
    font-family: myFont;
    font-size: xxx-large;
    width: auto;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: right;
    font-size: large;
    font-weight: 600;
}

a {
    margin: 10px;
    padding: 5px 10px;
    /* background-color:antiquewhite; */
    border-radius: 5px;
}

/* removing underlines from hyperlinks */
a:link {text-decoration: none;}

a:visited {text-decoration: none;}

a:hover {text-decoration: none;}

a:active {text-decoration: none;}

.grid-container{
  /* max-width: 80vw; */
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  gap: 5px 5px;
  
}
.grid-item{
  width: auto;
  height: auto;
  /* background-image: contain; */
  border: 2px solid goldenrod;
}

div.grid-container > img{
  max-width: 2vw;
}

/* Slideshow container */
.slideshow-container {
    max-width: 40vw;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    max-width: 30vw;
    margin: auto;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 2.5s;
  }
  
  @keyframes fade {
    from {opacity: .6}
    to {opacity: 1}
  }